<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style>
  canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
  }
</style>
</head>
<body onload="startGame()">
  <script>
  var myGamePiece;
  // var moveRight = true;
  function startGame() {
    myGameArea.start();
    redGamePiece = new ball(10, "red", 25, 150, true, 5, true, 7);
    blueGamePiece = new ball(10, "blue", 25, 75, true, 7, true, 6);
    greenGamePiece = new ball(10, "green", 25, 225, true, 6, true, 8);
  }

  var myGameArea = {
    canvas: document.createElement("canvas"),
    start:  function() {
      this.canvas.width = 500;
      this.canvas.height = 300;
      this.context = this.canvas.getContext("2d");
      document.body.insertBefore(this.canvas, document.body.childNodes[0]);
      this.interval = setInterval(updateGameArea, 20);
    },
    clear: function() {
      this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    }
  }

  function ball(rad, color, x, y, moveRight, speedX, moveLeft, speedY) {
    this.rad = rad;
    this.x = x;
    this.y = y;
    this.speedX = speedX;
    this.speedY = speedY;
    this.color = color;
    this.moveRight = moveRight;
    this.moveLeft = moveLeft;
    this.update = function() {
      var ctx = myGameArea.context;
      if(this.x > myGameArea.canvas.width || this.x < 0){
        this.moveRight = !this.moveRight;
      }
      if(this.y > myGameArea.canvas.height || this.y < 0){
        this.moveLeft = !this.moveLeft;
      }
      ctx.beginPath();
      ctx.arc(this.x, this.y, this.rad, 0, 2*Math.PI);
      ctx.fillStyle = this.color;
      ctx.fill();
    }
  }

  function updateGameArea() {
    // console.log('this is being run');//Debug...Positive :/
    myGameArea.clear();
    move(blueGamePiece);
    move(redGamePiece);
    move(greenGamePiece);
  }

  function move(myGamePiece) {
    if(myGamePiece.moveRight){
      myGamePiece.x += myGamePiece.speedX;
    } else {
      myGamePiece.x -= myGamePiece.speedX;
    }
    if(myGamePiece.moveLeft){
      myGamePiece.y += myGamePiece.speedY;
    } else {
      myGamePiece.y -= myGamePiece.speedY;
    }
    myGamePiece.update();
  }

</script>

<p>We have created a game area!</p>

</body>
</html>
